body{
  background-color: beige;
}

.count-display{
  display: flex;
  justify-content: center;
  text-align: center;

  top: 50%;
  bottom: 50%;
  margin: auto;
  padding: 0;
  background-color: green;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
}
.count-plus {
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: large;
  margin: auto;
  background-color: grey;
  weight: 50%;
  height: 50%;
}

.count-minus{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: large;
  margin: auto;
  background-color: grey;
  weight: 50%;
  height: 50%;

}

.input{
  display: flex;
  justify-content: center;
  text-align: center;
  margin:auto;
  outline: 0;
  width: 60px;
  height: 50px;
  font-size: 20px;

}
